@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --primary-text-blue: hsl(238, 29%, 16%);
  --primary-text-red: hsl(14, 88%, 65%);
  --secondary-dark-blue: hsl(237, 12%, 33%);
  --secondary-blue: hsl(240, 6%, 50%);
  --bg-blue: hsl(240, 73%, 65%);
  --bg-violet: hsl(273, 75%, 66%);
  --divider: hsl(240, 5%, 91%);
}

#accordion-proj {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-image: linear-gradient(var(--bg-violet), var(--bg-blue));
  height: calc(100vh - 68.5px);
  width: 100%;
  padding-top: 150px;
}

#accordion-proj .container {
  width: 700px;
  height: 400px;
  background-color: white;
  margin: auto;
  display: flex;
  align-items: center;
  border-radius: 0.7rem;
  box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.15);
}

#accordion-proj .hero-left {
  width: 50%;
  height: 100%;
  position: relative;
}

#accordion-proj .hero-img-container {
  width: 100%;
  height: 100%;
  background-size: 600px 680px;
  background-image: url(../assets/accordion-card/images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom -78px right 55px;
  caret-color: transparent;
  position: relative;
}

#accordion-proj .hero-img-container::after {
  width: 100%;
  height: 100%;
  background-size: 350px auto;
  background-image: url(../assets/accordion-card/images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-position: top 65px right 55px;
  position: absolute;
  content: "";
}

#accordion-proj .box-img {
  width: 140px;
  z-index: 100;
  position: absolute;
  left: -92px;
  bottom: 24%;
}

#accordion-proj .accordion-section {
  flex: 1;
  height: 100%;
  caret-color: transparent;
}

/* accordion side */
.accordion-section {
  width: 50%;
  padding: 35px 10px;
}

.accordion-section img {
  width: 10px;
}

.accordion-section h3 {
  font-weight: 700;
  font-size: large;
  padding: 5px 0;
  margin-bottom: 10px;
}

.accordion-section .accordion_answer {
  display: block;
  color: var(--secondary-blue);
  font-size: 11px;
  padding: 6px 0;
}

.accordion {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.accordion_item {
  width: 280px;
}

.accordion_question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  cursor: pointer;
  color: var(--primary-text-blue);
  padding-right: 7px;
}

.accordion_question p {
  color: var(--primary-text-blue);
  font-size: 13px;
}

.accordion_question p:hover {
  color: var(--primary-text-red);
}

.accordion_item .devider {
  border-bottom: 1px solid var(--divider);
  margin: 6px 0;
  width: 100%;
}
