@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  --primary-blue: hsl(223, 87%, 63%);
  --secondary-light-blue: hsl(223, 100%, 88%);
  --secondary-light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --dark-blue: hsl(209, 33%, 12%);
}

#coming-soon {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  width: 100vw;
  height: 100%;
}

#coming-soon .container {
  width: 500px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#coming-soon .container .app_name {
  margin: 20px 0;
  padding: 10px 0;
}

#coming-soon .container .app_name img {
  width: 100px;
}

#coming-soon .ping-title {
  color: var(--gray);
  font-size: 25px;
  margin-bottom: 8px;
}

#coming-soon .ping-title span {
  color: var(--dark-blue);
  font-weight: 700;
}

#coming-soon .container p {
  color: var(--dark-blue);
  font-size: 14px;
  padding: 10px 0;
}

#coming-soon .notify_wrapper {
  margin: 10px 0 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  width: 100%;
  padding: 0 5px;
}

#coming-soon .thank_you {
  display: block;
  color: var(--primary-blue);
  font-weight: 700;
  letter-spacing: 6px;
}

#coming-soon .notify_wrapper input {
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid var(--gray);
  outline: none;
  width: 100%;
  position: relative;
  height: 40px;
}

#coming-soon .notify_wrapper input::placeholder {
  font-size: 14px;
}
#coming-soon .notify_wrapper button {
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--primary-blue);
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.1 ease-in-out;
  height: 40px;
}

#coming-soon .notify_wrapper .err-message {
  position: absolute;
  color: var(--secondary-light-red);
  font-size: 10px;
  margin-left: 16px;
  margin-top: -10px;
}

#coming-soon .notify_wrapper button:hover {
  opacity: 0.9;
}

#coming-soon .img_wrapper {
  margin: 40px 0 20px;
}

#coming-soon .img_wrapper img {
  width: 100%;
}

#coming-soon footer {
  position: relative;
  height: 100px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

#coming-soon footer ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

#coming-soon footer ul li {
  padding: 7px;
  border: 1px solid var(--gray);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: var(--primary-blue);
  transition: all 0.1 ease-in-out;
}

.err {
  border: 1px solid var(--secondary-light-red) !important;
}

#coming-soon footer ul li:hover {
  background-color: var(--primary-blue);
  border: none;
  color: white;
}

#coming-soon footer ul li > * {
  width: 100%;
}

#coming-soon footer p {
  color: var(--gray);
  font-size: 13px;
  text-align: center;
  padding: 5px 0 15px;
  margin-bottom: 10px;
}

@media screen and (max-width: 550px) {
  #coming-soon .container {
    width: 375px;
  }

  #coming-soon .ping-title {
    color: var(--gray);
    font-size: 20px;
    margin-bottom: 8px;
  }

  #coming-soon .notify_wrapper {
    grid-template-columns: 1fr;
  }
}
