@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --primary-cyan: hsl(179, 62%, 43%);
  --primary-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(203, 11%, 77%);
  --grayish-blue: hsl(179, 63%, 51%);
}

#price-grid {
  background-color: #fff;
  font-family: "Karla", sans-serif;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
}

#price-grid .container {
  width: 590px;
  height: 450px;
  margin: auto;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
}

#price-grid .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 55%;
  color: whitesmoke;
}

#price-grid .main-desc {
  background-color: white;
  padding: 1.5rem;
  height: 45%;
  border-radius: 7px 7px 0 0;
}

#price-grid .main-desc h3 {
  color: var(--primary-cyan);
  padding: 5px 0;
  margin-bottom: 8px;
  font-weight: 700;
}

#price-grid .main-desc > *:nth-child(2) {
  color: var(--primary-yellow);
  padding: 4px 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}

#price-grid .main-desc > *:last-child {
  color: var(--light-gray);
  font-size: 16px;
  padding: 5px 0;
  line-height: 23px;
}

#price-grid .subscription {
  background-color: var(--primary-cyan);
  border-bottom-left-radius: 7px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#price-grid .subscription span:first-child {
  font-size: 25px;
  font-weight: 700;
}

#price-grid .subscription span:last-child {
  color: rgb(246, 244, 244);
  font-size: 15px;
}

#price-grid .subscription p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

#price-grid .why-us {
  background-color: var(--grayish-blue);
  border-bottom-right-radius: 7px;
  padding: 1.5rem;
}

#price-grid .why-us h4,
#price-grid .subscription h4 {
  font-size: 15px;
  padding: 5px 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

#price-grid .access {
  font-size: 14px;
  padding-bottom: 30px;
}

#price-grid button {
  width: 100%;
  background-color: var(--primary-yellow);
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  padding: 12px 0;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
}

#price-grid button:hover {
  transform: scale(0.98);
}

#price-grid .why-us ul {
  font-size: 12px;
  line-height: 1rem;
  list-style-type: none;
  color: rgb(246, 244, 244);
}
