@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

#sign_up_form {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: calc(100vh - 68.5px);
  background-color: var(--primary-red);
  position: relative;
  z-index: 1;
  padding: 40px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

#sign_up_form::after {
  content: "";
  width: 100vw;
  height: calc(100vh - 68.5px);
  background: url(../assets/sign-up/images/bg-intro-desktop.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 10;
}

#sign_up_form .container {
  width: 1000px;
  aspect-ratio: 100 / 65;
  position: relative;
  z-index: 100;
}

#sign_up_form .hero_leftside {
  flex: 1;
  height: 100%;
  text-align: left;
  flex-direction: column;
}

#sign_up_form .hero_leftside h2 {
  color: white;
  font-size: xx-large;
  font-weight: 700;
  line-height: 2.5rem;
}

#sign_up_form .hero_leftside p {
  color: whitesmoke;
  font-size: 16px;
}

#sign_up_form .form_container {
  flex: 1;
  height: 100%;
  padding: 18px;
  flex-direction: column;
}

#sign_up_form .button {
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 6px;
  color: white;
  text-align: center;
  cursor: pointer;
}

#sign_up_form .form_container .try {
  box-shadow: 0 7px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  background-color: var(--blue);
}

#sign_up_form .form_container .try span {
  font-weight: 600;
}

#sign_up_form form {
  width: 100%;
  background-color: white;
  flex-direction: column;
  border-radius: 6px;
  border: none;
  padding: 34px;
  box-shadow: 0 7px rgba(0, 0, 0, 0.2);
}

#sign_up_form form .input_control {
  display: block;
  width: 100%;
  position: relative;
}

#sign_up_form form input {
  width: 100%;
  text-align: left;
  font-size: 15px;
  padding: 15px 0 15px 30px;
  outline: none;
  border: 1px solid var(--grayish-blue);
  border-radius: 6px;
}

#sign_up_form form input.err {
  border-color: var(--primary-red);
  color: var(--primary-red);
}

.err_icon {
  font-size: 30px;
  color: var(--primary-red);
  position: absolute;
  top: 10px;
  right: 15px;
}

.err_message {
  font-size: 11px;
  color: var(--primary-red);
  font-style: italic;
  position: absolute;
  bottom: -20px;
  padding-right: 4px;
  text-align: right;
  width: 100%;
}

#sign_up_form form .claim_trail {
  background-color: var(--primary-green);
  font-size: 15px;
  box-shadow: 1px 3px 1px rgba(0, 128, 0, 0.652);
}

#sign_up_form form input:hover {
  border-color: var(--blue);
}

#sign_up_form form .terms {
  color: var(--grayish-blue);
  font-size: 10px;
  margin-top: -10px;
}

#sign_up_form form .terms span {
  color: var(--primary-red);
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (max-width: 780px) {
  #sign_up_form {
    height: auto;
  }

  #sign_up_form::after {
    height: 100%;
    width: 100%;
    background: url(../assets/sign-up/images/bg-intro-mobile.png) repeat-y;
    background-size: cover;
  }

  #sign_up_form .container {
    width: 360px;
    flex-direction: column;
  }

  #sign_up_form .hero_leftside {
    text-align: center;
  }

  #sign_up_form form input {
    padding: 20px 0 20px 30px;
    font-weight: 600;
  }

  #sign_up_form .form_container {
    height: auto;
  }

  #sign_up_form .form_container .try {
    padding: 1rem;
    font-size: 20px;
  }

  #sign_up_form form .terms {
    padding: 0 20px;
    text-align: center;
  }
}
