body {
  background-color: #fff;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hide 'home page' link, at the main page */
header nav a.active {
  display: none;
}
