body {
  background-color: rgb(241, 237, 237);
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style-type: none;
}

.app > h2 {
  text-align: center;
}

.app > ul {
  display: grid;
  grid-template-columns: auto auto;
  margin: 1.5rem;
  gap: 1rem;
}

@media screen and (max-width: 800px) {
  .app > ul {
    grid-template-columns: auto;
  }
}
